<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Időmunka</title>
</head>
<body>
  
  <div class="gyepForm">

    <div class="mb-3">
      <label for="length" class="form-label">Megmunkált hossz (mm)</label>
      <input type="text" class="form-control"
      [(ngModel)]="length">
    </div>
    <div class="mb-3">
      <label for="lengthfreq" class="form-label">Fordulatonkénti előtolás (mm)</label>
      <input type="text" class="form-control"
      [(ngModel)]="lengthfreq">
    </div>
    <div class="mb-3">
      <label for="freq" class="form-label">Főorsó fordulatszám (fordulatszám percenként)</label>
      <input type="text" class="form-control"
      [(ngModel)]="freq">
    </div>

    <button class="btn btn-info"
    (click)="calcTime()">Számítás</button>

    <div class="mb-3">
      <label>Megmunkálási idő (perc)</label>
      <input type="text" class="form-control"
      [(ngModel)]="time">
    </div>
  </div>


</body>
</html>